<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Title Times</a>
    <a class="pull-right btn btn-default add-btn" href="<%= new_titletime_path %>"><span class="glyphicon glyphicon-plus"></span></a>
  </div>
</nav>